
{% extends './admin/adminbase.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-sm-8 mx-auto">
        <span class="align-middle">
            <h2 class="text-center"> Confirmez l'émargement du Volontaire {{emargement.affectation.VolontaireStatut.Volontaire.prenom}} {{emargement.affectation.VolontaireStatut.Volontaire.nom}} {{emargement.affectation.VolontaireStatut.matricule}} <br> </h2>      
            <p class="text-center"> <a type="button" class="btn btn-link border-green text-success" data-toggle="modal" data-target=".bs-emarger-modal-lg" title="Supprimer">Émargement <i class="fas fa-check-double text-success"></i> </a></p>
            {% include "./admin/fp/emarger.html.twig" %}
        </span>
    </div>
</div>

{% endblock %}