<form method="post" action="{{ path('app_admin_j_a_delete', {'id': justification_absence.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ justification_absence.id) }}">
    <button class="btn">Delete</button>
</form>
